{{define "grid"}}
<div id="grid">
    <div class="grid-header">
        <el-form ref="form" :model="form" :inline="true">
            <span v-for="(filter,idx) in headerFilters">
                <el-form-item :label="filter.header" v-if="filter.type=='text'">
                    <el-input size="small" v-model="filter.value" :placeholder="filter.placeholder"></el-input>
                </el-form-item>
            </span>
            <span>
                <el-button size="small" type="primary" icon="ift i-search f-left fs12">&nbsp;搜索</el-button>
                <el-button size="small" icon="ift i-reset f-left fs12">&nbsp;重置</el-button>
            </span>
        </el-form>
    </div>
    <div class="grid">
        <div class="hor-scroll">
            <el-table
                    :data="collection"
                    style="width: 100%"
                    :default-sort = "{prop: 'date', order: 'descending'}"
            >
                <el-table-column v-for="(column,idx) in columns" :index="idx"
                                 :prop="column.index"
                                 :label="column.header"
                                 :align="column.align"
                                 :sortable="column.sort?'custom' : false"
                                 :width="column.width">

                    <template  slot-scope="scope">
                        <div v-if="column.type=='options'">
                            <el-tag size="medium" v-for="(v,k) in column.options" v-if="k==scope.row[column.index]">${v}</el-tag>
                        </div>
                        <div v-else>
                            ${scope.row[column.index]}
                        </div>
                    </template>

                </el-table-column>

            </el-table>
        </div>
    </div>
    <div class="actions-box">
        <table cellspacing="0" class="actions">
            <tr>
                <td class="massact a-left">
                </td>
                <td class="export a-left">
                    <el-select placeholder="请选择" size="small" style="width:100px">
                        <el-option label="XML" value="xml">XML</el-option>
                    </el-select>
                    <el-button type="info" size="small" plain>导出</el-button>
                </td>
                <td class="pager a-right">
                    <el-pagination
                            @size-change="pagerSizeChange"
                            @current-change="pagerCurrentChange"
                            :current-page="pager.cur"
                            :page-sizes="[10, 20, 30, 50, 100, 200]"
                            :page-size="10"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="pager.total">
                    </el-pagination>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
const appGrid = new Vue({
    el: '#grid',
    data() {
        return {
            columns:[],
            collection:[],
            headerFilters:[],
            pager:{size:10,page:1,total:0},
            form: {

            },
            pager: {
                cur:1,
            }
        }
    },
    methods: {
        pagerSizeChange(p) {

        },
        pagerCurrentChange(p) {
            console.log(`当前页: ${p}`);
        },
        // 异步加载
        loadGrid() {
            let data = new FormData();
            axios.post('/admin/user/grid',data).then((res)=> {
                if(res.data.code==1) {
                    let _d = res.data.data;
                    this.columns = _d.columns;
                    this.collection = _d.collection;
                    this.headerFilters = _d.headerFilters
                    this.pager = _d.pager
                }
            }).catch(function (err) {
                console.log(err);
            });
        }
    },
    created() {
        this.loadGrid();
    }
})
</script>
{{end}}