{{define "content"}}
<img class="login-top-bg" src="/static/img/login/bg2.png"/>
<div id="login">
    <div class="login-main">
        <div class="login-content">
            <div class="hd">
                <label>欢迎登录</label>
                <strong>Mage Admin</strong>
            </div>
            <div class="mt50">
                <el-input placeholder="请输入帐号" v-model="username">
                    <template slot="prepend"><div class="w50">用户名</div></template>
                </el-input>
            </div>
            <div class="mt20">
                <el-input placeholder="请输入密码" v-model="password" type="password">
                    <template slot="prepend"><div class="w50">密码</div></template>
                </el-input>
            </div>
            <div class="mt20">
                <el-checkbox v-model="remember">记住我</el-checkbox>
            </div>
            <div class="mt20">
                <el-button type="primary" @click="doLogin" class="wp100">登录</el-button>
            </div>
            <div class="mt25">
                <p class="c9">基于Gin + Vue + Element UI的通用后台管理系统，让后台开发更加高效、便捷，致力于使后台功能开发趋向组件化、配置化。</p>
            </div>
        </div>
    </div>
</div>
<script>
    const app = new Vue({
        el: '#login',
        data() {
            return {
                username:"mage",
                password:"admin123",
                remember:"",
            }
        },
        methods: {
            doLogin() {
                let that = this;
                let data = new FormData();
                data.append('username',this.username);
                data.append('password',this.password);
                data.append('remember',this.remember);
                axios.post('/admin/login/save',data).then(function (res) {

                    if(res.data.code==1) {
                        window.location.href='/admin/dashboard/index'
                    }
                }).catch(function (err) {
                    console.log(err);
                });
            }

        },
        created() {

        }
    })
</script>
{{end}}