<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{ template "head" . }}
    <link rel="stylesheet" href="/static/css/admin.css"></link>
</head>
<body class="body-account">
    <div class="page" id="page">
        <div class="app-wrap">
            {{ template "left" . }}
            <div class="inner-wrap mro-wrapper">
                {{ template "header" . }}
                <div class="">
                    <div class="main-wrap pr mt10" id="main">
                        <div class="box-admin">
                            {{ template "content" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
