{{define "head"}}
<title id="title">{{if .title}}{{.title}}{{else}}Go后台管理系统{{end}} - go-mage-admin</title>
<meta name="keywords" content="go-mage-admin,gin,Mage后台管理系统,gin-admin,gin-vue-admin,go">
<meta name="description" content="基于Gin + Vue + Element UI的通用后台管理系统，让后台开发更加高效、便捷，致力于使后台功能开发趋向组件化、配置化，使开发人员从繁冗代码中解放出来。">
<meta name="robots" content="none" />
<link rel="icon" href="/skin/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/static/js/element-ui/2.15.10/index.css"></link>
<script src="/static/js/vue/2.7.13/vue.min.js" type="text/javascript"></script>
<script src="/static/js/axios/axios.min.js" type="text/javascript"></script>
<script src="/static/js/element-ui/2.15.10/index.js" type="text/javascript"></script>
<script src="/static/js/mage.js" type="text/javascript"></script>
<script src="/static/js/admin.js" type="text/javascript"></script>
{{end}}