{{define "header"}}
<div class="header" id="headerBox">
    <div class="nav-box">
        <div class="nav f-left">
            <div class="nav-indent f-left">
                <a class="on"><i class="ift i-indent"></i></a>
                <a class=""><i class="ift i-indent2"></i></a>
            </div>
            {{.s1}}
            <ul class="nav-b f-left">
                <li v-for="(item,idx) in menus" :key="idx" @click="switchMenu(idx,item.children)">
                    <a :class="{'on':curMenuId==item.code}"><i class="ift" :class="`i-${item.icon}`"></i>${item.title}</a>
                </li>
            </ul>
        </div>
        <div class="nav-bar f-right mr10">
            <ul class="nav-m">
                <!-- 功能/菜单搜索 -->
                <li>
                    <a><i class="ift i-search"></i></a>
                </li>
                <li>
                    <a><i class="ift i-full"></i></a>
                </li>
                <li>
                    <a><i class="ift i-msg"></i></a>
                </li>
                <li>
                    <a><i class="ift i-user2"></i></a>
                </li>
            </ul>
        </div>
        <div class="clr"></div>
    </div>
    <div class="cmenu" id="cmenu">
        <div class="cmenu-box" id="cmenu-box">
            <div class="cmenu-item home" :class="{'on':!curMenuHistory}" data-url="admin/dashboard/index">
                <span>首页</span>
            </div>
            <div class="cmenu-item" :class="{'on':curMenuHistory==item.action}" :data-url="item.action" v-for="(item,idx) in menuHistory" >
                <span @click="goPage(item.action)">${item.title}</span>
                <i class="ift i-close fs12" @click="delPage(item.action)"></i>
            </div>
        </div>
        <div class="cmenu-ctl cmenu-ctl-l"><i class="ift i-arrow-l3 fs18"></i></div>
        <div class="cmenu-ctl cmenu-ctl-r"><i class="ift i-arrow-r3 fs18"></i></div>
    </div>
</div>
<script>
let vueHeader = new Vue({
    el: '#headerBox',
    data() {
        return {
            menus:[],
            menuHistory:[],
            menuName:[],
            curMenuId:0,
            curMenuHistory:'',
        }
    },
    methods: {
        goPage(url) {
            mage.admin.goPage(url)
        },
        delPage(url) {
            if (this.curMenuHistory==url) {
                let urlReplace = "";
                for (let i in this.menuHistory) {
                    if (this.menuHistory[i].action!=url) {
                        urlReplace = this.menuHistory[i].action;
                    }
                }
                mage.admin.delPage(url,urlReplace)
            } else {
                mage.admin.delPage(url)
            }
        },
        getMenus() {
            axios.get('/admin/page/menu').then((res) =>{
                let _d = res.data.data;
                if(res.data.code==1) {
                    let menuNameArr = [];
                    let menusCopy = [];
                    let tmpK = [];
                    //排序&历史菜单名称处理
                    for (let k in _d.menus) {
                        let tmpM = []
                        if (_d.menus.hasOwnProperty(k) && _d.menus[k].children) {
                            let mChildren = _d.menus[k].children
                            for (let m in mChildren) {
                                if (mChildren.hasOwnProperty(m)) {
                                    mChildren[m].menu = k;
                                    menuNameArr.push(mChildren[m]);
                                    let tmpN = [];
                                    if (mChildren[m].children) {
                                        let nChildren = mChildren[m].children;
                                        for (let n in nChildren) {
                                            if (nChildren.hasOwnProperty(n)) {
                                                nChildren[n].code = n;
                                                nChildren[n].menu = k;
                                                menuNameArr.push(nChildren[n]);
                                                tmpN.push(nChildren[n])
                                            }
                                        }
                                        tmpN.sort((a,b)=>{
                                            return a.sort - b.sort
                                        })
                                        mChildren[m].children = tmpN;
                                    }
                                    tmpM.push(mChildren[m])
                                }
                            }
                            tmpM.sort((a,b)=>{
                                return a.sort - b.sort
                            })
                        }
                        _d.menus[k].code = k;
                        _d.menus[k].children = tmpM;
                        tmpK.push(_d.menus[k])
                    }
                    tmpK.sort((a,b)=>{
                        return a.sort - b.sort
                    })
                    this.menus = tmpK
                    //console.log('curMenuId='+this.curMenuId);
                    for (let i in tmpK) {
                        if (tmpK[i]['code']==this.curMenuId && tmpK[i].hasOwnProperty('children')) {
                            this.switchMenu(this.curMenuId,tmpK[i]['children'])
                        }
                    }
                    this.menuName = menuNameArr;
                    this.renderHistory(_d.menuHistory);
                }
            }).catch(function (err) {
                console.log(err);
            });
        },

        switchMenu(idx,childMenu) {
            this.curMenuId = idx;
            vueLeft.switchMenu(childMenu)
        },
        renderHistory(history,curUrl) {
            //console.log('curUrl='+curUrl);
            this.menuHistory = [];
            for (let i = 0;i<history.length;i++) {
                for (let j = 0;j<this.menuName.length;j++) {
                    if (history[i]==this.menuName[j].action) {
                        this.menuHistory.push(this.menuName[j])
                    }
                }
            }
            if (curUrl) {
                this.curMenuHistory = curUrl
                for (let i in this.menuName) {
                    mu = this.menuName[i]
                    if (mu.action==curUrl) {
                        this.curMenuId = mu.menu;
                        for (let j in this.menus) {
                            if (mu.menu==this.menus[j].code) {
                                vueLeft.switchMenu(this.menus[j].children)
                                vueLeft.setCurMenu(curUrl)
                            }
                        }
                    }
                }
            }
        },
        delHistory(url) {
            let copy = [];
            for (let i in this.menuHistory) {
                if (this.menuHistory[i].action!=url) {
                    copy.push(this.menuHistory[i]);
                }
            }
            this.menuHistory = copy;
        },
        init() {
            this.curMenuId = $('#menu').val();
            this.curMenuHistory = $('#menucur').val();
            this.curMenuHistory = this.curMenuHistory ? (this.curMenuHistory.indexOf("/")==0 ? this.curMenuHistory:'/'+this.curMenuHistory) : '';
        }
    },
    created() {
        this.init();
        this.getMenus();
    }
})
</script>
{{end}}