{{define "left"}}
<div class="navigation" id="left">
    <div class="logo">
        <h1><a class="home" href="/admin/dashboard/index">GoMage</a></h1>
        <h5 class="mt5">管理系统</h5>
    </div>
    <div class="menu-box">
        <ul class="menu">
            <li class="parent level0" :data="item.action" :class="{'on':curMenuId==item.action || curMenuId==item.title}" v-for="(item,idx) in menus" :key="idx">
                <a v-if="item.action" @click="goPage(item.action)" class="v-ajax"><i class="ift mr5" :class="`i-${item.icon}`"></i><span>${item.title}</span></a>
                <a v-if="!item.action"><i class="ift mr5" :class="`i-${item.icon}`"></i><span>${item.title}</span></a>
                <ul v-if="item.children">
                    <li v-for="(child,idx2) in item.children"><a  @click="goPage(child.action,item.title)" class="v-ajax">${child.title}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
let vueLeft = new Vue({
    el: '#left',
    data() {
        return {
            menus:[],
            curMenuId:'',
        }
    },
    methods: {
        goPage(url,title) {
            if (title) {
                this.curMenuId = title
            } else {
                this.curMenuId = url
            }
            vueHeader.curMenuHistory = url;
            mage.admin.goPage(url)
            return false
        },
        switchMenu(submenu) {
            this.menus = submenu;
            let cur = '{{.urlCur}}';
            if (cur) {
                this.curMenuId = cur;
                for (let i in this.menus) {
                    if (this.menus[i].children) {
                        for (let j in this.menus[i].children) {
                            if (this.menus[i].children[j].action==cur) {
                                this.curMenuId = this.menus[i].title;
                            }
                        }
                    }
                }
            }

        },
        setCurMenu(url) {
            if (url) {
                if (url.indexOf('/')==0) {
                    //console.log('url='+url);
                    this.curMenuId = url;
                } else {
                    for (let i in this.menus) {
                        if (this.menus[i].children) {
                            for (let j in this.menus[i].children) {
                                if (this.menus[i].children[j].action==url) {
                                    this.curMenuId = this.menus[i].title;
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    created() {

    }
})
</script>
{{end}}