{{define "left"}}
<div class="navigation" id="left">
    <div class="logo">
        <h1><a class="home" href="/admin/dashboard/index">GoMage</a></h1>
        <h5 class="mt5">管理系统</h5>
    </div>
    <div class="menu-box">
        <ul class="menu">
            <li class="parent level0" :class="{'on':curMenuId==item.action}" v-for="(item,idx) in menus" :key="idx">
                <a :href="'/'+item.action" class="v-ajax"><i class="ift mr5" :class="`i-${item.icon}`"></i><span>${item.title}</span></a>
                <ul v-if="item.children">
                    <li v-for="(child,idx2) in item.children"><a :href="'/'+child.action" class="v-ajax">${child.title}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
let vueLeft = new Vue({
    el: '#left',
    data() {
        return {
            menus:[],
            curMenuId:'',
        }
    },
    methods: {
        switchMenu(submenu) {
            this.menus = submenu;
            let cur = '{{.urlCur}}';
            if (cur) {
                this.curMenuId = cur;
            }

        },
    },
    created() {

    }
})
</script>
{{end}}